@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(244, 238, 255);
    overflow-y: scroll;
    overflow-x: hidden;

}
h1{
    font-size: 2.5rem;
    font-weight: 700;
}

h2{
    font-size: 1.8rem;
    font-weight: 600;
}
h3{
    font-size: 1.4rem;
    font-weight: 800;
}
h4{
    font-size: 1.1rem;
    font-weight: 600;
}
h5{
    font-size: 1rem;
    font-weight: 400;
    color: #1d1d1d;
    margin-right: 0.5rem;
}
h6{
    color: #d8d8d8;
}


button{
    font-size: 0.8rem;
    font-weight: 700;
    outline: none;
    border: none;
    background-color: #1d1d1d;
    color: #f0f8ff;
    padding: 13px 30px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s ease;

}

button:hover{
    background-color: #3a3833;
}

hr{
    width: 70rem;
    height: 1px;
    background-color: #fb774b;
    
}

.navbar{
    font-size: 16px;
    top: 0;
    left: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
.navbar img{
    width: 3rem;
    height: 3rem;
    margin-right: 4rem;
}

.car img{
    width: 2.5rem;
    height: 2rem;  
}

.navbar-light .navbar-nav .nav-link{
    padding: 0 25px;
    color: black;
    transition: 0.3s ease;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar i.active {
    color: coral;
}

.navbar i{
    font-size: 1.5rem;
    padding: 0 7px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s ease;
}

.navbar-light .navbar-toggler{
    border: none;
    outline: none;
}

#bar{
    font-size: 1.5rem;
    padding: 7px;
    font-weight: 500;
    transition: 0.3s ease;
    color: rgb(4, 7, 4);
}

#bar:hover,
#bar.active{
    color: #fff ;
}

@media only screen and (max-width: 991px){
    body > nav > div > button:hover,
    body > nav > div > button:focus{
        background-color: #fff;
    }
        body > nav > div > button:hover #bar,
        body > nav > div > button:focus #bar{
            background-color: #fb774b;
        }
        #navbarSupportedContent > ul{
            margin: 1rem;
            justify-content: flex-end;
            align-items: flex-end;
            text-align: right;
        }

        #navbarSupportedContent > ul > li:nth-child(n) > a{
            padding: 10px 0;
        }
}

#home{
    background-image: url("img/back.jpg");
    width: 100%;
    height: 100vh;
    background-color: cover;
    background-position: top 60px center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

#home span{
    color:red;
}

#new .one img{
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#new .one .details {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.3s ease;

}

#new .one:hover .details{
    cursor: pointer;
    background-color: rgba(172, 178, 178, 0.7);

} 

#new .one:hover .details button{
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: #2a2a2a;
    background: none;
    border-bottom: 1px solid #2a2a2a;
    padding: 2.5px;
    transform: translateY(70px);
    transition: 0.3s ease;

}

#new .one:hover .details button:hover{
    color: #fff;
    border-bottom: 1px solid #fff;
}

#new .one:nth-child(1) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}

#new .one:nth-child(2) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#new .one:nth-child(3) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
}

.produto, .produto-racao{
    text-align: center;
    cursor: pointer;
    margin-bottom: 1rem;
    background-color: #ecf0ee5d;

}

.produto img{
    transition: 0.3s all;
    max-width: 300px;
    max-width: 400px;  
    width: 225px;
    height: 245px;
    margin: 58px;


}

.pagination a{
    color: black;
}



.produto:hover img{
opacity: 0.7;

}
.produto .buy-bnt{
    background: #fb774b;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.3rem all;
}

.produto:hover .buy-bnt{
    transform: translateY(0);
    opacity: 1;
    margin-right: 1rem;   
}
.produto-racao img{
    transition: 0.3s all;
    max-width: 200px;
    max-width: 150px;  
    width: 145px;
    height: 170px;
    margin: 50px;
    margin-right: 3rem;
    
}
.produto-racao:hover img{
    opacity: 0.7;   
}
.produto-racao .buy-bnt{
    background: #fb774b;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.3rem all;
    
}
.produto-racao:hover .buy-bnt{
    transform: translateY(0);
    opacity: 1;   
}

#banner{
    background-image: url("");
    width: 100%;
    height: 40vh;
    background-color: #6473f5;
    background-position: top 70px center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    
    
}

#banner h4{
    color: #3b3b3b;
    text-align: center;
    margin-left: 4rem;
}
#banner h5{
    color: #3b3b3b;
    margin-left: 4rem;
}

#banner h1{
    color: #414040;
margin-left: 4rem;
}

#banner button{
   background-color: #fb774b;
   margin-left: 4rem;

}

footer{
    width: 100%;
    height: 7rem;
    background-color: #272727;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content{
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.footer-content p{
    font-family: sans-serif;
    color: #f5f5f5;
    font-size: 1.5rem;
}

.sproduct{
    margin: 5px;
 padding: 5rem;
}

.sproduct img{
    width: 80%;
    height: 80%;

}

.sproduct select{
display: block;
 padding: 5px 10px;
}
.sproduct input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.sproduct input:focus{
    outline: none;
}

.buy-bnt{
    background-color: #fb774b;
    opacity: 1;
    transition: 0.3s ease;
}

input, label{
    display: block;
    width: 100%;
}


input:focus, label:focus{
    outline: none;
}

a {
    color: #fb774b;
}

.main-container{
    padding-top: 5%;
}

#main-container{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 25px;
}

#main-container h1{
text-align: center;
margin-bottom: 25px;
font-size: 1.6rem;
}

form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.full-box{
    flex: 1 1 100%;
    position: relative;
    margin-top: .9;
}

.half-box{
    flex: 1 1 45%;
    position: relative;
}

.spacing{
    margin-right: 2.8%;
}
label {
    font-weight: bold;
    font-size: .8rem;
}
input{
    border-bottom: 2px solid #fb774b;
    padding: 10px;
    font-size: .9rem;
}
input[type="submit"]{
    background-color: #fb774b;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

#agreement, #agreement-label{
display: inline-block;
width: auto;
}

.error-validation{
    color: #ff1a1a;
    position: absolute;
    top: 57px;
    font-size: .8rem;
}
.template{
    display: none;
}


#btnSearch,
#btnClear{
    display: inline-block;
    vertical-align: top;
    margin-top: 30rem;
    margin-left: 3rem;
    color: #fff;
}

button{
    
    height: 3rem;
    font: 20px "Courier New", Courier, monospace;
    font-size: 1.2rem;
    
}

.form{
   
    margin-left: 40%;
    width: 13rem;
    height: 5rem;
    font: 20px "Courier New", Courier, monospace;
    font-size: 2rem;
    
}
.Login{
    margin-top: 12%;
    margin-left: 43%;
}


